<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.background.mapper.CapitalAuditMapper" >
  <resultMap id="BaseResultMap" type="com.design.background.entity.CapitalAudit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="application_type" property="applicationType" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="application_time" property="applicationTime" jdbcType="VARCHAR" />
    <result column="applicant_id" property="applicantId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, applicant_name, money, application_type, card, tel, remarks, application_time, 
    applicant_id, state, reason,creat_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from capital_audit
    where id = #{id,jdbcType=BIGINT}
  </select>
   <!-- 如果name值为空查询所有，如果name不为空则查询指定 -->
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from capital_audit
    where state = "待审核"
    <if test="applicantName != null and applicantName != ''">
      and applicant_name like '%${applicantName}%'
    </if>
    <if test="applicationType != null and applicationType != ''">
    and application_type like '%${applicationType}%' 
    </if>
     <if test="money != null and money != ''">
     and money = ${money}
     </if>
    order by application_time DESC
  </select>
<!--   <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String"> -->
<!--   	select  -->
<!--     <include refid="Base_Column_List" /> -->
<!--     from capital_audit -->
<!--     <if test="applicantName != null "> -->
<!--       where applicant_name like '%${applicantName}%' -->
<!--     </if> -->
<!--   </select> -->
  <!--查询所有信息  -->
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from capital_audit
    where state = "待审核"
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from capital_audit
    where id = #{id,jdbcType=BIGINT} and state = "待审核"
  </delete>
  <insert id="insert" parameterType="com.design.background.entity.CapitalAudit" >
    insert into capital_audit (id, applicant_name, money, 
      application_type, card, tel, 
      remarks, application_time, applicant_id, 
      state, reason)
    values (#{id,jdbcType=BIGINT}, #{applicantName,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{applicationType,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{applicationTime,jdbcType=VARCHAR}, #{applicantId,jdbcType=BIGINT}, 
      #{state,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.design.background.entity.CapitalAudit" >
    insert into capital_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicantName != null" >
        applicant_name,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="applicationType != null" >
        application_type,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="applicationTime != null" >
        application_time,
      </if>
      <if test="applicantId != null" >
        applicant_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="reason != null" >
        reason,
      </if>
       <if test="creatTime != null" >
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applicantName != null" >
        #{applicantName,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="applicationType != null" >
        #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null" >
        #{applicantId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creat_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.design.background.entity.CapitalAudit" >
    update capital_audit
    <set >
      <if test="applicantName != null" >
        applicant_name = #{applicantName,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="applicationType != null" >
        application_type = #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        application_time = #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null" >
        applicant_id = #{applicantId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.design.background.entity.CapitalAudit" >
    update capital_audit
    set applicant_name = #{applicantName,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      application_type = #{applicationType,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=VARCHAR},
      applicant_id = #{applicantId,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.design.background.entity.CapitalAudit" >
    update capital_audit
    set 
      state = #{state,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

	<select id="selectStatisticalLastWeekExpend" resultType="java.util.Map" parameterType="java.util.List">
      SELECT
      <foreach collection="list" index="index" item="item">
      sum(case when creat_time >= #{item.startTime}  and creat_time &lt;= #{item.endTime} then money else 0 end )week${index}
      <if test="index != (list.size() - 1)">
        ,
      </if>
      </foreach>
      FROM capital_audit where capital_audit.state = '通过'
	</select>
	<select id="selectStatisticalThisWeekExpend" resultType="java.util.Map" parameterType="java.util.List">
      SELECT
      <foreach collection="list" index="index" item="item" >
      sum(case when creat_time >= #{item.startTime}  and creat_time &lt;= #{item.endTime} then money else 0 end )week${index}
      <if test="index != (list.size() - 1)">
        ,
      </if>
      </foreach>
      FROM capital_audit where capital_audit.state = '通过'
	</select>
</mapper>