<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.background.mapper.DicProjectScaleMapper" >
  <resultMap id="BaseResultMap" type="com.design.background.entity.DicProjectScale" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, description
  </sql>
    <select id="selectProjectScale" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from dic_project_scale
    where description like '%${description}%'
  </select>
  <select id="selectAllProjectScale" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dic_project_scale
  </select>
  <select id="selectProjectScaleByDescription" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from dic_project_scale
    where description=#{description}
    or code=#{code}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   select
    <include refid="Base_Column_List" />
    from dic_project_scale where id=#{id}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from dic_project_scale
    where id = #{id}
  </delete>
  <insert id="insertProjectScale">
  insert into dic_project_scale (code, description
      )
    values ( #{code,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.design.background.entity.DicProjectScale">
    insert into dic_project_scale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.design.background.entity.DicProjectScale" >
    update dic_project_scale
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.design.background.entity.DicProjectScale" >
    update dic_project_scale
    set code = #{code,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertProjectScaleSelective" parameterType="com.design.background.entity.DicProjectScale" >
  insert into dic_project_scale (id,code,description)
      values (#{id}, #{code,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from dic_project_scale
  </select>
</mapper>