<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.background.mapper.DicProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.design.background.entity.DicProvince" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province_id, name
  </sql>
  <select id="selectAllProvince" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province
  </select>
  <select id="selectProvinceById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province where province_id = #{id}
  </select>
</mapper>